.contact {

  .mobile-number {
    &__label {
      margin-right: 10px;
    }

    &__input {
      font-size: 16px;
      padding-left: 10px;
    }
  }

  .home-number {
    &__label {
      margin-right: 10px;
    }

    &__input {
      font-size: 16px;
      padding-left: 10px;
    }
  }
}